<div class="row mt-3">
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3">Customer</h1>
            <p class="lead">Customer</p>
            <hr class="my-2">
            <p class="lead">
                <a routerLink="/customer" class="btn btn-primary btn-lg" role="button">View Customer</a>
            </p>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3">Product</h1>
            <p class="lead">Product</p>
            <hr class="my-2">
            <p class="lead">
                <a routerLink="/product" class="btn btn-primary btn-lg" role="button">View Product</a>
            </p>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3">Sales</h1>
            <p class="lead">Sales</p>
            <hr class="my-2">
            <p class="lead">
                <a routerLink="/sales" class="btn btn-primary btn-lg" role="button">View Sales</a>
            </p>
        </div>
    </div>
</div>
